
 /* Event ka css code */
 header h1{
    text-align:center;
    padding:20px;
    border:5px ridge,rgb(14, 207, 17);
    border-radius: 50px ;
    box-sizing: border-box ;
    background: #22C1C3;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    font-weight: bold;
    color:rgb(86, 9, 201);
}
 body{
    margin:0px;
    padding:0px;
}

/* Header */
/* Invitation Section */
.invitation h2{
    color:rgb(247, 15, 111); 
    font-size:60px; 
    margin-top: 60px;
    text-align: center;
}
.invitation p{
    padding:40px 20px; 
    font-size: 30px;
     font-weight: bold;
     color: deepskyblue;
     text-align: center;
}

.invite-img{
     display: block;
    margin: 0 auto;
    width:60%;
    max-width:600px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,0.3);
    cursor:pointer;
    transition:0.3s; 
    
}

.invite-img:hover{
    transform:scale(1.02);
}

/*Book section*/
.book-section{
  text-align: center;
  padding: 40px;
}
.book-section h2{
  color:rgb(247, 15, 111);
  font-size: 40px;
  margin-bottom: 30px;

}

/* common row */
.row{
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
}

/* 🔥 row1 = 4 column */
.row1{
  grid-template-columns: repeat(4, 1fr);
}

/* 🔥 row2 = 3 column + center */
.row2{
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  max-width: 800px;
  margin: auto;
}

/* card design */
.book-card{
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.book-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.book-card button{
    background: #22C1C3;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius:5px;
}
.book-card button:hover{
    background: #25316D;
    color: white;
}
.footer{
    background: #111;
    color:white;
    padding: 10px;
    text-align: center;
}